@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./spinner.css";

/* Let's get this party started */
body::-webkit-scrollbar {
  width: 12px;
}

/* Track */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
body::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255,0,0,0.4); 
}

html,
body,
#root,
.App {
  @apply h-full;
  @apply min-h-screen;
}

h1 {
  @apply font-body;
  @apply text-5xl;
  @apply font-bold;
}

h2 {
  @apply font-body;
  @apply text-4xl;
  @apply font-bold;
}

h3 {
  @apply font-body;
  @apply text-3xl;
  @apply font-light;
}

h4 {
  @apply font-body;
  @apply text-2xl;
  @apply font-bold;
}

h5 {
  @apply text-xl;
  @apply font-body;
}

h6 {
  @apply text-base;
  @apply font-body;
}

p {
  @apply font-body;
  @apply font-medium;
}

a {
  @apply font-body;
  @apply text-sm;
}

td.MuiTableCell-root {
  @apply border-b-0;
  @apply py-2;
  @apply px-2;
  @apply font-body;
  @apply text-base;
}

th.MuiTableCell-root {
  @apply border-b-0;
  @apply py-2;
  @apply px-2;
  @apply font-body;
}

.btn-gray {
  @apply bg-gray-200;
  @apply text-blue-700;
  @apply font-bold;
  @apply rounded;
  @apply uppercase;
}
