# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
back-end/node_modules/
back-end/.serverless
back-end/.webpack
back-end/.build
front-end/node_modules/
/.pnp
.pnp.js

# testing
/coverage
tests/accts.txt

# production
/build

# misc
.DS_Store
front-end/.env.development.local
front-end/.env.test.local
front-end/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode

node_modules/

.idea/
